@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

main {
    color: var(--cor-1);
}

.section-1 {
    margin-top: 200px;
}

/* COR DOS SPANS/TRAÇOS */

.section-1 .span-cor {
    color: var(--cor-5);
}

/* CODIGO DO CARD SOCIAL */

.section-1 .card-social {
    width: 200px;
    height: 254px;
    background: #111;
    border: 1px solid var(--cor-1);
    box-shadow: 20px 20px var(--cor-5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section-1 .card-social .card-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: ease-in-out 0.5s;
    border: solid 4px var(--cor-5);
}

.section-1 .card-social .card-title {
    text-align: center;
    color: var(--cor-1);
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: var(--cor-1);
}

.section-1 .card-social .titulo-menor {
    font-size: 10px;
    color: var(--cor-2);
}

.section-1 .card-social .titulo-menor-licensa {
    margin-bottom: 10px;
    margin-top: 20px;
    opacity: 1;
    transition: opacity 0.5s ease;
    font-weight: bold;
    color: var(--cor-2);
}

.section-1 .card-social:hover .titulo-menor-licensa {
    opacity: 0;
}

.section-1 .card-social .card-socials {
    display: flex;
    height: 0;
    opacity: 0;
    margin-top: 20px;
    gap: 20px;
    transition: 0.5s;
}

.section-1 .card-social .card-socials-btn {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.section-1 .card-social .card-socials-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--cor-1);
}

.section-1 .card-social:hover>.card-socials {
    opacity: 1;
    height: 35px;
    margin-bottom: 55px;
    scale: 1.1;
}

.section-1 .card-social .card-socials-btn:hover {
    transform: translateY(-5px);
    transition: all ease-in-out 0.2s;
}