/* HEADER DESKTOP*/

header {
    backdrop-filter: blur(4px);
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.225), rgb(0, 0, 0));
}

nav li {
    position: relative;
}

nav a {
    color: var(--cor-1);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    transition: color 250ms ease-in-out, font-size 250ms ease-in-out;
}

nav a:hover {
    font-size: 16px;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: var(--cor-5);
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

/* CODIGO DO BOTAO SWITCH */
#checkbox {
    display: none;
}

.switch {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: rgb(99, 99, 99);
    border-radius: 50%;
    z-index: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(126, 126, 126);
    box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
    top: 4px;
}

.switch svg {
    width: 1.2em;
}

.switch svg path {
    fill: rgb(48, 48, 48);
}

#checkbox:checked+.switch {
    box-shadow: 0px 0px 1px var(--cor-5) inset,
        0px 0px 2px var(--cor-5) inset, 0px 0px 10px var(--cor-5) inset,
        0px 0px 40px var(--cor-5), 0px 0px 100px var(--cor-5),
        0px 0px 5px var(--cor-5);
    border: 2px solid white;
    background-color: rgb(146, 180, 184);
}

#checkbox:checked+.switch svg {
    filter: drop-shadow(0px 0px 5px var(--cor-5));
}

#checkbox:checked+.switch svg path {
    fill: white;
}





/* HEADER MOBILE */


/* Exibe o header de desktop por padrão */
.menu-desktop {
    display: block;
}

.menu-mobile {
    display: none;
}

/* Media query para telas mobile, ativa o header mobile */
@media only screen and (max-width: 768px) {
    .menu-desktop {
        display: none;
    }

    .menu-mobile {
        display: block;
    }
}