main {
    background-color: transparent;
}

/* card {
    backdrop-filter: blur(0px);
} */

.section-1 {
    margin-top: 200px;
}

.section-1 .minha-foto {
    width: 300px;
    height: 300px;
    border-radius: 50%;
}

.section-1 .titulos-pessoais {
    font-weight: bold;
}

.section-1 .span-cor {
    color: var(--cor-5);
}

.section-1 .barra {
    color: var(--cor-5);
}