@import url('https://fonts.googleapis.com/css2?family=Anta&display=swap');

main {
    color: var(--cor-1);
}

.section {
    height: 100vh;
}

.span-cor {
    color: var(--cor-5);
}

.text-bold {
    font-weight: bold;

}

/* ########## SECTION-1 ########## */

.section-1 {
    margin-top: 20%;
}

.section-1 .titulos-pessoais {
    font-weight: bold;
}

.section-1 .saudacao-tamanho-fixo {
    height: 100px;
}

/* CODIGO DO CARD SOCIAL */

.section-1 .card-social {
    width: 200px;
    height: 254px;
    background: #111;
    border: 1px solid var(--cor-1);
    box-shadow: 20px 20px var(--cor-5);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.section-1 .card-social .card-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    transition: ease-in-out 0.5s;
    border: solid 4px var(--cor-5);
}

.section-1 .card-social .card-title {
    text-align: center;
    color: var(--cor-1);
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: var(--cor-1);
}

.section-1 .card-social .titulo-menor {
    font-size: 10px;
    color: var(--cor-2);
}

.section-1 .card-social .titulo-menor-licensa {
    margin-bottom: 10px;
    margin-top: 20px;
    opacity: 1;
    transition: opacity 0.5s ease;
    font-weight: bold;
    color: var(--cor-2);
    font-size: 14px;
}

.section-1 .card-social:hover .titulo-menor-licensa {
    opacity: 0;
}

.section-1 .card-social .card-socials {
    display: flex;
    height: 0;
    opacity: 0;
    margin-top: 20px;
    gap: 20px;
    transition: 0.5s;
}

.section-1 .card-social .card-socials-btn {
    width: 30px;
    height: 30px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.section-1 .card-social .card-socials-btn svg {
    width: 100%;
    height: 100%;
    fill: var(--cor-1);
}

.section-1 .card-social:hover>.card-socials {
    opacity: 1;
    height: 35px;
    margin-bottom: 55px;
    scale: 1.1;
}

.section-1 .card-social .card-socials-btn:hover {
    transform: translateY(-5px);
    transition: all ease-in-out 0.2s;
}

/* ########## SECTION-2 ########## */

.section-2 {
    margin-top: -200px;
}

.cube-loader {
    position: relative;
    width: 75px;
    height: 75px;
    transform-style: preserve-3d;
    transform: rotateX(-30deg);
    animation: animate 4s linear infinite;
    scale: 1.8;
    top: 30px;
}

@keyframes animate {
    0% {
        transform: rotateX(-30deg) rotateY(0);
    }

    100% {
        transform: rotateX(-30deg) rotateY(360deg);
    }
}

.cube-loader .cube-wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
    background: linear-gradient(to bottom,
            hsl(330, 3.13%, 25.1%) 0%,
            hsl(177.27, 21.71%, 32.06%) 5.5%,
            hsl(176.67, 34.1%, 36.88%) 12.1%,
            hsl(176.61, 42.28%, 40.7%) 19.6%,
            hsl(176.63, 48.32%, 43.88%) 27.9%,
            hsl(176.66, 53.07%, 46.58%) 36.6%,
            hsl(176.7, 56.94%, 48.91%) 45.6%,
            hsl(176.74, 62.39%, 50.91%) 54.6%,
            hsl(176.77, 69.86%, 52.62%) 63.4%,
            hsl(176.8, 76.78%, 54.08%) 71.7%,
            hsl(176.83, 83.02%, 55.29%) 79.4%,
            hsl(176.85, 88.44%, 56.28%) 86.2%,
            hsl(176.86, 92.9%, 57.04%) 91.9%,
            hsl(176.88, 96.24%, 57.59%) 96.3%,
            hsl(176.88, 98.34%, 57.93%) 99%,
            hsl(176.89, 99.07%, 58.04%) 100%);
}

.cube-top {
    position: absolute;
    width: 75px;
    height: 75px;
    background: hsl(330, 3.13%, 25.1%) 0%;
    transform: rotateX(90deg) translateZ(37.5px);
    transform-style: preserve-3d;
}

.cube-top::before {
    content: '';
    position: absolute;
    width: 75px;
    height: 75px;
    background: hsl(176.61, 42.28%, 40.7%) 19.6%;
    transform: translateZ(-90px);
    filter: blur(10px);
    box-shadow: 0 0 10px #323232,
        0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
        0 0 30px #323232,
        0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
}